<h2>Library Files</h2>

<h3>データ構造 (data structure)</h3>
<ul>
    {% for item in page.data.dataStructure %}
    <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
        {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
    </a></li>
    {% endfor %}
    <br>
    <h3>Fenwick tree (binary indexed tree)</h3>
    <ul type="circle">
        {% for item in page.data.fenwickTree %}
        <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
            {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
        </a></li>
        {% endfor %}
    </ul>
    <h3>素集合データ構造 (disjoint-set data structure)</h3>
    <ul type="circle">
        {% for item in page.data.unionFind %}
        <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
            {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
        </a></li>
        {% endfor %}
    </ul>
</ul>

<h3>動的計画法 (dynamic programming)</h3>
<ul>
    {% for item in page.data.dynamicProgramming %}
    <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
        {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
    </a></li>
    {% endfor %}
</ul>

<h3>ゲーム (game)</h3>
<ul>
    {% for item in page.data.game %}
    <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
        {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
    </a></li>
    {% endfor %}
</ul>

<h3>計算幾何学 (computational geometry)</h3>
<ul>
    {% for item in page.data.geometry %}
    <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
        {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
    </a></li>
    {% endfor %}
</ul>

<h3>グラフ (graph)</h3>
<ul>
    {% for item in page.data.graph %}
    <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
        {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
    </a></li>
    {% endfor %}
    <br>
    <h3>最短路問題 (shortest path problem)</h3>
    <ul type="circle">
        {% for item in page.data.shortestPath %}
        <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
            {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
        </a></li>
        {% endfor %}
    </ul>
    <h3>木 (tree)</h3>
    <ul type="circle">
        {% for item in page.data.tree %}
        <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
            {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
        </a></li>
        {% endfor %}
    </ul>
    <h3>フロー (flow)</h3>
    <ul type="circle">
        <h3>マッチング (matching)</h3>
        <ul type="sqare">
            {% for item in page.data.matching %}
            <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
                {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
            </a></li>
            {% endfor %}
        </ul>
        <h3>最大流 (maximum flow)</h3>
        <ul type="sqare">
            {% for item in page.data.maximumFlow %}
            <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
                {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
            </a></li>
            {% endfor %}
        </ul>
        <h3>最小費用流 (minimum cost flow)</h3>
        <ul type="sqare">
            {% for item in page.data.minimumCostFlow %}
            <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
                {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
            </a></li>
            {% endfor %}
        </ul>
    </ul>
</ul>

<h3>数学 (math)</h3>
<ul>
    {% for item in page.data.math %}
    <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
        {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
    </a></li>
    {% endfor %}
    <br>
    <h3>畳み込み (convolution)</h3>
    <ul type="circle">
        {% for item in page.data.convolution %}
        <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
            {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
        </a></li>
        {% endfor %}
    </ul>
    <h3>形式的冪級数 (formal power series)</h3>
    <ul type="circle">
        {% for item in page.data.formalPowerSeries %}
        <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
            {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
        </a></li>
        {% endfor %}
    </ul>
    <h3>行列 (matrix)</h3>
    <ul type="circle">
        {% for item in page.data.matrix %}
        <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
            {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
        </a></li>
        {% endfor %}
        <br>
        <h3>バイナリ行列</h3>
        <ul type="sqare">
            {% for item in page.data.binaryMatrix %}
            <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
                {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
            </a></li>
            {% endfor %}
        </ul>
    </ul>
    <h3>写像12相 (twelvefold way)</h3>
    <ul type="circle">
        {% for item in page.data.twelvefoldWay %}
        <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
            {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
        </a></li>
        {% endfor %}
        <br>
        <h3>ベル数 (Bell number)</h3>
        <ul type="sqare">
            {% for item in page.data.bellNumber %}
            <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
                {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
            </a></li>
            {% endfor %}
        </ul>
        <h3>スターリング数 (Stirling number)</h3>
        <ul type="sqare">
            {% for item in page.data.stirlingNumber %}
            <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
                {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
            </a></li>
            {% endfor %}
        </ul>
    </ul>
</ul>

<h3>文字列 (string)</h3>
<ul>
    {% for item in page.data.string %}
    <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
        {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
    </a></li>
    {% endfor %}
</ul>

<h3>ユーティリティ (utility)</h3>
<ul>
    {% for item in page.data.util %}
    <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
        {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
    </a></li>
    {% endfor %}
</ul>

<h3>その他 (misc)</h3>
<ul>
    {% for item in page.data.misc %}
    <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
        {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
    </a></li>
    {% endfor %}
</ul>

<h2>Verification Files</h2>

<ul>
    {% for item in page.data.verificationPages %}
    <li><a href="{{ item.path | absolute_url }}">{{ item.icon }} {{ item.title }}
        {% if item.title != item.path %}<small>({{ item.path }})</small>{% endif %}
    </a></li>
    {% endfor %}
</ul>
